<% if(user !== undefined && user.rol === "1111" ){ %> 
<%- include("../comunes/components/header-component") -%>
    <!-- Begin Page Content -->
    <div class="container col-12">
        <h1>Empleados</h1>
        <div class="row">
            <div class="col-9"></div>
            <div class="col-1">
                <a href="/empleados/view/agregar_empleado"><input class="btn btn-secondary" type="button"
                        value="Agregar empleado"></a>
            </div>
        </div>
    </div>
    <br>
    <br>
    <!-- Tabla clientes -->
    <div class="col-md-12">
        <table class="table">
            <thead class="table-success table-striped">
                <th>Nombre</th>
                <th>Primer apellido</th>
                <th>Segundo apellido</th>
                <th>Género</th>
                <th>Acciones</th>


                </tr>
            </thead>

            <tbody>
                <% for(var i=0; i<records.length ;i++){ %>
                    <tr>
                        <td>
                            <%=records[i]["nombre"] %>
                        </td>
                        <td>
                            <%=records[i]["primerApellido"] %>
                        </td>
                        <td>
                            <%=records[i]["segundoApellido"] %>
                        </td>
                        <td>
                            <%=records[i]["genero"] %>
                        </td>
                        <td>
                            <div class="row">
                                <div class="col">
                                    <a href="/empleados/view/modificar_empleado/<%=records[i]["idEmpleado"] %>" class="fas fa-pen"> </a>

                                </div>
                                <div class="col">
                                    <a onclick="return ConfirmDeleteElectro();" href="/empleados/delete/<%=records[i]["idEmpleado"] %>" class="fas fa-trash-alt"></a>
                                </div>
                                <div class="col">
                                    <a href="/usuarios/view/<%=records[i]["idEmpleado"] %>" class="fas fa-user"></a>
                                </div>
                            </div>
                        </td>

                    </tr>
                    <% } %>
            </tbody>
        </table>
    </div> <!-- End table client -->

    </div> <!-- End of Main Content-->
    <%- include("../comunes/components/footer-component") -%>
    <% } else { %>
        <%- include("../comunes/components/error-sesion") -%>
       <% } %> 