<%- include("../comunes/components/header-component") -%>
    <title>Actualizar Cliente</title>

    <div class="container">
        <h1>Actualizar cliente</h1>
        <br>
        <br>
        <form action="/clientes/update/<%=idCliente%>" method="POST">
            <div class="container">
                <div class="row">
                    <div class="col-10">
                        <h2 class="title-black">Datos generales</h2>
                    </div>
                    <div class="col-2">
                        <h6>* Campos obligatorios</h6>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <h4>Nombre*</h4>
                    </div>
                    <div class="col">
                        <h4>Primer Apellido</h4>
                    </div>
                    <div class="col">
                        <h4>Segundo Apellido</h4>
                    </div>
                    <div class="col">
                        <h4>Teléfono*</h4>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <input type="text" onkeypress="return soloLetras(event)" class="form-control mb-3" name="nombre"
                            value="<%=nombre%>" required>
                    </div>
                    <div class="col">
                        <input type="text" onkeypress="return soloLetras(event)" class="form-control mb-3"
                            name="primerApellido" value="<%=primerApellido%>">
                    </div>
                    <div class="col">
                        <input type="text" onkeypress="return soloLetras(event)" class="form-control mb-3"
                            name="segundoApellido" value="<%=segundoApellido%>">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control mb-3" name="telefono" value="<%=telefono%>"
                            onchange="return ValidarTelefono(this)" onkeypress="return soloNumeros(event);" required
                            minlength="10" maxlength="10" required>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <h2 class="title-black">Domicilio</h2>
                <br>
                <div class="row">

                    <div class="col">
                        <h4>Calle*</h4>
                    </div>
                    <div class="col">
                        <h4>No. Interior</h4>
                    </div>
                    <div class="col">
                        <h4>No. exterior</h4>
                    </div>
                    <div class="col">
                        <h4>Colonia*</h4>
                    </div>
                </div>

                <div class="row">

                    <div class="col">
                        <input type="text" class="form-control mb-3" name="calle" value="<%=calle%>"
                            onkeypress="return soloLetras(event)" required>
                    </div>
                    <div class="col">
                        <input type="text" class="form-control mb-3" name="noCasaInt" value="<%=noCasaInt%>"
                            onkeypress="" required minlength="1" maxlength="4" required>
                    </div>
                    <div class="col">
                        <input type="text" class="form-control mb-3" name="noCasaExt" value="<%=noCasaExt%>"
                            onkeypress="return soloNumeros(event);" required minlength="1" maxlength="4" required>
                    </div>
                    <div class="col">
                        <input type="text" class="form-control mb-3" name="colonia" value="<%=colonia%>"
                            onkeypress="return soloLetras(event)" onkeypress="return soloLetras(event)" required>
                    </div>

                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-10"></div>
                    <div class="col">
                        <button class="btn btn-secondary" type="submit">Actualizar cliente</button>
                    </div>
                </div>
            </div>
        </form>

    </div>
    <%- include("../comunes/components/footer-component") -%>