<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>Seguimiento</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@600&family=Varela+Round&display=swap" rel="stylesheet" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" type="text/css" media="screen" href="/assets/css/main_cliente.css" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
		<!-- <script src="main.js"></script> -->
	</head>
	<body>
		<header>
			<h2 class="centrado">Seguimiento de electrodomésticos</h2>
      <h2 class="centrado">¡Electrodomestico encontrado!</h2>

		</header>
		<div id="main">
      
		<form>
			<div class="alert alert-warning row">
				<h1><br>
					<%=electrodomestico.nombre%>
						<%=electrodomestico.modelo%>
							<%=electrodomestico.marca%> <br><br>
				</h1>
				<h2><br>Registrado a nombre de: <%=cliente.nombre%>
						<%=cliente.primerApellido%>
							<%=cliente.segundoApellido%>
				</h2>
				<% if(orden==null){ %>
					<h2><br>Sin trabajo registrado</h2>
				<% } %>
				<% if(orden!=null){ %>
					
					<h2><br>El trabajo es: <%= orden.trabajo%>
					</h2>
				<h2><br>El estado de su electrodoméstico en el taller es: <%=orden.estado %></h2>
				<% if(orden.estado=="Terminado" ){ %>
					<h2><br>El costo de la reparación fué: $<%= orden.precio%></h2>
					<h2><br>¡Usted ya puede pasar al taller por su electrodoméstico!</h2>
				<%} else{ %>
					<h2 id="fechaExpirada"></h2>
					<h2 id="observacion">Observaciones: <%=orden.observaciones%> </h2>
					<h2>La fecha estimada de terminación del trabajo es:</h2>
					<h2 id="fecha"><%=orden.fecha_salida%></h2>
					<script>
						let fecha = document.getElementById('fecha').innerText;
						let ahora = moment();
						console.log(fecha);
						moment.lang('es', {
							months: 'Enero_Febrero_Marzo_Abril_Mayo_Junio_Julio_Agosto_Septiembre_Octubre_Noviembre_Diciembre'.split('_'),
							monthsShort: 'Enero._Feb._Mar_Abr._May_Jun_Jul._Ago_Sept._Oct._Nov._Dec.'.split('_'),
							weekdays: 'Domingo_Lunes_Martes_Miercoles_Jueves_Viernes_Sabado'.split('_'),
							weekdaysShort: 'Dom._Lun._Mar._Mier._Jue._Vier._Sab.'.split('_'),
							weekdaysMin: 'Do_Lu_Ma_Mi_Ju_Vi_Sa'.split('_')
						});
						fecha_convertida = moment(fecha).format('dddd Do MMMM YYYY');
						document.getElementById('fecha').innerText = fecha_convertida;
						resultado = ahora.diff(fecha, 'days');
						if (resultado > 0) {
							document.getElementById('fechaExpirada').innerText = "Lo sentimos, su reparacion se ha retrasado!!!";
						}
						</script>
				<% } %>
				<% } %>
			</div>
		</form>
		<div class="container"><a href="/seguimiento/view"><input class="button" type="button" value="Regresar"></a></div>
	</div>
	
	



	</body>
	
	
</html>