<%- include("../comunes/components/header-empleado-component") -%>
<div class="container">
    <!-- Separa los datos -->

    <h1>Actualizar electrodomestico</h1>
    <br>
    <br>
    <div class="row">
        <div class="col-10">
            <h1>Cliente: <%=recordsCliente["nombre"]%> <%=recordsCliente["apellidoPaterno"] %> <%=recordsCliente["apellidoMaterno"]%> </h1>
        </div>
        <div class="col-2">
            <h6>* Campos obligatorios</h6>
        </div>
    </div>




    <!-- La accion al picar el boton es insertar -->

    <form
        action="/empleado/electrodomesticos/update/<%=dataElectrodomestico["idCliente"]%>/<%=dataElectrodomestico["idElectrodomestico"]%>"  method="POST">

        <h2>DATOS DEL ELECTRODOMESTICO</h2>
        <br>
        <div class="row">
            <div class="col">
                <h3>Codigo de seguimiento*</h3>
            </div>
            <div class="col">
                <h3>Nombre*</h3>
            </div>
            <div class="col">
                <h3>Modelo*</h3>
            </div>
            <div class="col">
                <h3>Marca*</h3>
            </div>
            <div class="col">
                <h3>Fecha entrada*</h3>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <input type="text" onkeypress="" class="form-control mb-3" name="codigo_seguimiento"
                    value="<%=dataElectrodomestico["codigo_seguimiento"]%>" required>
            </div>
            <div class="col">
                <input type="text" onkeypress="return soloLetras(event)" class="form-control mb-3" name="nombre"
                    value="<%=dataElectrodomestico["nombre"]%>" required>
            </div>
            <div class="col">
                <input type="text" class="form-control mb-3" name="modelo" value="<%=dataElectrodomestico["modelo"]%>"
                    required>
            </div>
            <div class="col">
                <input type="text" onkeypress="return soloLetras(event)" class="form-control mb-3" name="marca"
                    value="<%=dataElectrodomestico["marca"]%>" required>
            </div>
            <div class="col">
                <input type="text" class="form-control mb-3" name="fecha_entrada"
                    value="<%=dataElectrodomestico["fecha_entrada"]%>" required>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col">
                <h3>Fecha de salida*</h3>
            </div>
            <div class="col">
                <h3>Estado*</h3>
            </div>
            <div class="col">
                <h3>Estado de garantia*</h3>
            </div>
            <div class="col">
                <h3>Observaciones*</h3>
            </div>
            

        </div>

        <div class="row">

            <div class="col">
                <input type="text" class="form-control mb-3" name="fecha_salida"
                    value="<%=dataElectrodomestico["fecha_salida"]%>">
            </div>
            <div class="col">
                <select name="estado" id="estado" class="form-control mb-3">
                    <option value="En revisión" <%  if(dataElectrodomestico["estado"]=="En revisión"){%> <%="selected"  %> <% } %>         >En revisión</option>
                    <option value="En reparación"  <%  if(dataElectrodomestico["estado"]=="En reparación"){%> <%="selected"  %> <% } %>       >En reparación</option>
                    <option value="Terminado"  <%  if(dataElectrodomestico["estado"]=="Terminado"){%> <%="selected"  %> <% } %>        >Terminado</option>
                    <option value="Entregado" <%  if(dataElectrodomestico["estado"]=="Entregado"){%> <%="selected"  %> <% } %>          >Entregado</option>
                    <option value="No se trabajo" <%  if(dataElectrodomestico["estado"]=="No se trabajo"){%> <%="selected"  %> <% } %>            >No se trabajó</option>
                </select>
            </div>
            <div class="col">
                <select name="garantia" id="garantia" class="form-control mb-3">
                    <option value="Sin aplicar" <%  if(dataElectrodomestico["garantia"]=="Sin aplicar"){%> <%="selected"  %> <% } %>  >Sin aplicar</option>
                    <option value="Vigente"   <%  if(dataElectrodomestico["garantia"]=="Vigente"){%> <%="selected"  %> <% } %>  >Vigente</option>
                    <option value="Vencida" <%  if(dataElectrodomestico["garantia"]=="Vencida"){%> <%="selected"  %> <% } %> >Vencida</option>
                </select>
            </div>
            <div class="col">
                <input type="text" class="form-control mb-3" name="observaciones"
                    value="<%=dataElectrodomestico.observaciones%>" required>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col">
                <button class="btn btn-primary" type="submit">Actualizar electrodomestico</button>
                <!-- <input type="submit" class="btn btn-primary"> -->
            </div>

        </div>

    </form>
</div>
<%- include("../comunes/components/footer-component") -%>