<%- include("../comunes/components/header-component") -%>
<div class="container">
    <h1>Agregar electrodoméstico</h1>
    <br>
    <br>

    <div class="row">
        <div class="col-10">
            <h3>Cliente: <%=recordsCliente[0]["nombre"] %> <%=recordsCliente[0]["primerApellido"] %> <%=recordsCliente[0]["segundoApellido"] %> </h3>
        </div>
        <div class="col-2">
            <h6>* Campos obligatorios</h6>
        </div>
    </div>
    <br>
    <br>
    <form action="/electrodomesticos/create/<%=recordsCliente[0]["idCliente"] %>" method="POST">
        <h2 class="title-black">Datos del electrodoméstico</h2>
        <br>
        <div class="row">
            <div class="col">
                <h4>Nombre*</h4>
            </div>
            <div class="col">
                <h4>Modelo*</h4>
            </div>
            <div class="col">
                <h4>Marca*</h4>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <input type="text" onkeypress="return soloLetras(event)" class="form-control mb-3" name="nombre"
                    required>
            </div>
            <div class="col">
                <input type="text" class="form-control mb-3" name="modelo" required>
            </div>
            <div class="col">
                <input type="text" onkeypress="return soloLetras(event)" class="form-control mb-3" name="marca"
                    required>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col">
                <h4>Fecha de salida*</h4>
            </div>
            <div class="col">
                <h4>Estado*</h4>
            </div>
            <div class="col">
                <h4>Estado de garantia*</h4>
            </div>
            <div class="col">
                <h4>Observaciones*</h4>
            </div>
        </div>

        <div class="row">

            <div class="col">
                <input type="date" class="form-control mb-3" name="fecha_salida" placeholder="" required>
            </div>
            <div class="col">
                <select name="estado" id="estado" class="form-control mb-3">
                    <option value="En revisión">En revisión</option>
                    <option value="En reparación">En reparación</option>
                    <option value="Terminado">Terminado</option>
                    <option value="Entregado">Entregado</option>
                    <option value="No se trabajo">No se trabajó</option>
                </select>
            </div>
            <div class="col">
                <select name="garantia" id="garantia" class="form-control mb-3">
                    <option value="Sin aplicar">Sin aplicar</option>
                    <option value="Vigente">Vigente</option>
                    <option value="Vencida">Vencida</option>
                </select>
            </div>
            <div class="col">
                <input type="text" class="form-control mb-3" name="observaciones" placeholder="" required>
            </div>
        </div>
        <br>
        <br>

        <div class="row">
            <div class="col-9"></div>
            <div class="col">
                <button class="btn btn-secondary" type="submit">Registrar electrodoméstico</button>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript" src="/assets/js/apps.js"></script>
  <%- include("../comunes/components/footer-component") -%>